.sidenav-container {
  height: 100vh;
  background-color: var(--primary-color-container) !important;
}

.sidenav-body {
  background-color: var(--primary-color);
}

.main-content {
  padding: 16px;
}

.icon-white-large {
  color: white;
  font-size: 1.5rem;
}

a.active {
  background-color: var(--selected-nav-color);
  font-weight: bold !important;
}

a:hover {
  background-color: var(--selected-nav-color);
}

a span {
  color: white !important;
}

a:hover span {
  color: black !important;
}

a:hover .icon-white-large {
  color: black !important;
}

